[Unit]
Description=Weather Wall GFS Forecasts

[Service]
Type=oneshot
WorkingDirectory=%h/und-atsc-weather-wall
ExecStart=%h/und-atsc-weather-wall/upload/run_job.sh upload_gfs_forecasts.sh
StandardOutput=append:%h/weather_wall_logs/gfs_forecasts.log
StandardError=append:%h/weather_wall_logs/gfs_forecasts.log