[Unit]
Description=Run Weather Wall Local/Regional Analysis every 15 minutes

[Timer]
OnCalendar=*-*-* *:00,15,30,45:00 UTC
AccuracySec=1s
Unit=ww-local-regional-bundle.service

[Install]
WantedBy=timers.target